// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// Admin LTE
@import '~admin-lte/dist/css/adminlte.css';

.fa-trash {
    color: red;
}
.fa-edit {
    color: #3498ff;
}
.fa-undo {
    color: #3498ff;
}